* text=auto
*.md text eol=crlf
*.py text eol=crlf
*.pys text eol=crlf
*.pyw text eol=crlf
*.toml text eol=crlf
*.txt text eol=crlf
*.yaml text eol=crlf
*.yml text eol=crlf
.gitattributes text eol=crlf
.gitignore text eol=crlf
