[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
build = "*"
coverage = {extras = ["toml"], version = "*"}
flake8 = {version = "==3.9.2"}
flake8-tabs = {version = "==2.3.2"}
isort = {version = "==5.8.0"}
mkdocs = {version = "==1.2.3"}
mkdocs-autorefs = {version = "==0.3.1"}
mkdocs-material = {version = "==8.1.3"}
mkdocs-material-extensions = {version = "==1.0.3"}
mkdocstrings = {version = "==0.17.0"}
mypy = "*"
pre-commit = "*"
pyproject-flake8 = {version = "==0.0.1a2"}
pytkdocs = {git = "https://github.com/nstockton/pytkdocs.git", ref = "tab-indentation-parser"}
tan = {git = "https://github.com/nstockton/tan.git", ref = "personal"}
twine = "*"

[packages]
